<{if count($block.birthday_today_users) >0 }>
	<h3><{$smarty.const._MB_BD_TITRE}>
	<ul>
	<{foreach item=user from=$block.birthday_today_users}>
		<li><a href="<{$smarty.const.BIRTHDAY_URL}>user.php?birthday_id=<{$user.birthday_id}>" title="<{$user.birthday_href_title}>"><{$user.birthday_fullname}></a></li>
	<{/foreach}>
	</ul>
	<br />
	<{if $block.birthday_today_more }>
		<div align="center"><a href="<{$smarty.const.BIRTHDAY_URL}>users.php?op=today"><{$smarty.const._MB_BIRTHDAY_SHOW_MORE}></a></div>
	<{/if}>
<{else}>
	<{$smarty.const._MB_BD_NOBIRTHDAY}>
<{/if}>

<{if $block.birthday_today_mypage }>
	<div align="center"><br /><a href="<{$smarty.const.BIRTHDAY_URL}>index.php"><{$smarty.const._MB_BD_EDIT}></a></div>
<{/if}>

