<{if count($birthday_users) > 0}>
	<{$breadcrumb}>
	<br /><br />
	<ul>
	<{foreach item=birthday_user from=$birthday_users}>
		<li><a href="<{$smarty.const.BIRTHDAY_URL}>user.php?birthday_id=<{$birthday_user.birthday_id}>" title="<{$birthday_user.birthday_href_title}>"><{$birthday_user.birthday_fullname}></a> <{$birthday_user.birthday_formated_date}></li>		
	<{/foreach}>
	</ul>
<{else}>
	<h3><{$smarty.const._BIRTHDAY_ERROR3}></h3>
<{/if}>

<{if isset($pagenav)}>
	<div align="center"><{$pagenav}></div>
<{/if}>